head
	link(rel="stylesheet" href="../../css/custom.css")
.row
	div(class = "col-xs-12 col-md-6")
		div#subscribe
			form(method="post" action="/update" class="form-horizontal")
				div(class='form-group')
					label(for="inputPhoneNumber" class="col-sm-3 control-label")
						span.blueText
							| Phone Number
					div(class="col-sm-6")
						center
							| #{subscriberInfo.phoneNumber}
					span(class="glyphicon glyphicon-phone" aria-hidden="true")
				div(class='form-group')
					label(for="inputTemprature" class="col-sm-3 control-label")
						span.blueText
							| Current notification temprature
					div(class="col-sm-6")
						center
							| #{subscriberInfo.notificationTemprature}
					span(class="glyphicon glyphicon-flag" aria-hidden="true")
				div(class='form-group')
					label(for="inputZipCode" class="col-sm-3 control-label")
						span.blueText
							| Zipcode
					div(class="col-sm-6")
						center
							| #{subscriberInfo.zipcode}
					span(class="glyphicon glyphicon-map-marker" aria-hidden="true")
	div(class = "col-xs-12 col-md-6")
		div#subscribe
			form(method="post" action="/update/#{subscriberInfo.phoneNumber}" class="form-horizontal")
				div(class='form-group')
					label(for="inputPhoneNumber" class="col-sm-3 control-label")
						span.blueText
							| Phone Number
					div(class="col-sm-6")
						center
							| #{subscriberInfo.phoneNumber}
					span(class="glyphicon glyphicon-phone" aria-hidden="true")
				div(class='form-group')
					label(for="inputTemprature" class="col-sm-3 control-label")
						span.blueText
							| Current notification temprature
					div(class="col-sm-6")
						input(type="number" name ="notificationTemprature" class="form-control" id="inputTemprature" placeholder="Temprature in Fahrenheit . . ." min=-999 max=999 required=true)
					span(class="glyphicon glyphicon-flag" aria-hidden="true")
				div(class='form-group')
					label(for="inputZipCode" class="col-sm-3 control-label")
						span.blueText
							| Zipcode
					div(class="col-sm-6")
						input(type="number" name ="zipcode" class="form-control" id="inputZipCode" placeholder="56601" min=10000 max=99999 required=true)
					span(class="glyphicon glyphicon-map-marker" aria-hidden="true")
				div(class="form-group" id="submitDiv")
					div(class="col-sm-offset-2 col-sm-10")
						button(type="submit" class="btn btn-default")
							| Update!
